
services:
  code_base:
    build: .
    image: rakeshadepu/knowledgebase_economic_forecast_across_german_states
    volumes:
       - ai_system:/tmp
    command:
    - sh
    - "-c"
    - |
      rm -rf /tmp/knowledgeBase/ && cp -r /knowledgeBase/ /tmp/;
volumes:
  ai_system:
    external: true